h1,
h2 {
    color: rgb(17, 133, 133);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    font-size: 50px;
}

.body {
    margin: 0;
    background: #eee;
}


#babushka {
    height: auto;
    width:600px;
    object-position: center;
    margin-bottom: 50px;
}

.centered {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 100px;
    text-decoration: underline;
    white-space: nowrap;
}

.bgimage.centered {
    opacity: 1;
}

.container{
    flex: 1;
    display: flex;
    padding: 4px;
    border: 4px double rgb(17, 133, 133);
    justify-content: center;
    margin: 20px;
}

p,
li {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    padding: 8px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-home {
    list-style:disc;
}

#list {
    background-color: white;
    color: rgb(17, 133, 133);
    font-family: 'Courier New', Courier, monospace, sans-serif ;
    font-size: 22px;
}


#return {
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.navigation {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.profile-image {
    background: url(/images/AdobeStock_178470772-1024x700.jpeg);
    box-shadow: inset 2px 2px 4px rgba(0,0,0.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.logo {
    color: rgb(17, 133, 133);
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

button {
    border: none;
    border-radius: 8px;
    background: rgb(17, 133, 133);
    color: white;
    padding: 8px 24px;
    flex: 0 0 auto;
}

.clicks {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  a {
    text-decoration: none;
  }